<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>To Do List sample app</title>
</head>

<body>
<h1>ToDo List</h1>
<p>TIME is {{ dt }}</p>
{#  {% if not todolist %}#}
{#    <p>you can register something to do.</p>#}
{#  {% else %}#}
{#    <p>your todo list:</p>#}
{#  {% endif %}#}
{#  <ul>#}
{#    {% for item in todolist %}#}
{#    <li {% if item.done %}style="color: lightgray"{% endif %}>#}
{#      {{ item.title }}#}
{#      <a href="/updatedone/{{ item.item_id }}">[done!]</a>#}
{#      <a href="/deleteitem/{{ item.item_id }}">[delete]</a>#}
{#    </li>#}
{#    {% endfor %}#}
{#  </ul>#}

<form action="/additem" method="post" name="myform">
    <p>
        <input type="text" name="contents" placeholder="{{ information }}">
    </p>
    <a href="javascript:document.myform.submit()" class="button">submit</a>
    {#    <a href="/deletealldoneitems" class="button">delete all done items</a>#}
    <table border="1">
        <tr>
            <th>やること</th>
            <th>時間</th>
        </tr>
        {% for gyou in %}
        <tr>
            {% for item in global_list %}
            <th>入力データは {{ item }} です。</th>
            {% endfor %}
            {% for dt in dt_list %}
            <th>{{ dt }}</th>
            {% endfor %}
        </tr>
    </table>
    {% for item in global_list %}
    <div>入力データは {{ item }} です。</div>
    {% endfor %}
    {% for dt in dt_list %}
    <div>{{ dt }}</div>
    {% endfor %}
</form>
</body>

</html>