<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>To Do List sample app</title>
</head>

<body>
<h1>ToDo List</h1>
<p>TIME is {{ dt }}</p>

<form action="/additem" method="post" name="myform">
    <p>
        <input type="text" name="contents" placeholder="{{ information }}">
    </p>
    <a href="javascript:document.myform.submit()" class="button">submit</a>
</form>
<table border="1">
    <tr>
        <th>項目</th>
        <th>やること</th>
    </tr>
    {% for content in contents %}
    <tr>
        <th>{{ content.id }}</th>
        <th>{{ content.contents}}</th>
    </tr>
    {% endfor %}
</table>
<!--<ol type="a">-->
<!--    {% for animal in animals %}-->
<!--        <li>{{ animal.name }}</li>-->
<!--    {% endfor %}-->
<!--</ol>-->
</body>

</html>